---
import { Button } from 'free-astro-components'
import Code from '../components/Code.astro'
import CTA from '../sections/CTA.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../sections/Hero.astro'
import Intro from '../sections/Intro.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
---

<Layout title="YouthX">
  <Sidebar class="lg:hidden" />
  <Header />
  <main>
    <Hero
      align="center"
      title="YouthX"
      description="YouthX is Open Useful Technologies Hub’s Experiments -We are an open community dedicated to experimenting with useful and ethical AI technologies."
    >
      <div>
        <Button href="/guide/who-we-are" label="Get started" />
      </div>
      <div>
        <Code code="echo 'Hello world!' " />
      </div>
    </Hero>
    <Intro />
    <CTA
      align="center"
      title="Freedom. Curiosity. Experimentation."
      description="Discover who we are, why YOUTHX exists, and how we experiment with open and useful technologies for everyone."
    >
      <Button href="/guide/who-we-are" label="Get started" />
    </CTA>
  </main>
  <Footer />
</Layout>
